@model ICollection<AzureTestApp.Model.PatientDetailsViewModel>

<div class="w3-container">
    <h2 class="glyphicon glyphicon-user" style="color:#2196F3"><span>&nbsp;Patient Details</span></h2>
</div>

<div id="AllPatientsRow" class="w3-cell-row" style="height:50px;">
    <div class="w3-container w3-blue w3-cell w3-cell-middle" id="ViewAllPatients">
        Assigned To
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" id="ViewAllPatients">
        Social Security
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" id="ViewAllPatients">
        Student Name
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" id="ViewAllPatients">
        Address Line1
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" id="ViewAllPatients">
        City
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" id="ViewAllPatients">
        County
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" id="ViewAllPatients">
        Guardian Name
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" id="ViewAllPatients">
        Phone
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" id="ViewAllPatients">
        School Name
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" id="ViewAllPatients" style="width:100px !important">
        Open Date
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" id="ViewAllPatients">
        Close
    </div>
</div>
<div class="panel-body" style="height:398px">
    <div class="right-inner-addon" style="width:105px;">
            @if (Model.Any())
            {
                <table class="table table-condensed table-hover table-striped" style="width:1122px">
                    @foreach (var item in Model)
                    {
                        <tr style="height:50px !important">
                            <td id="StudentFirstName" style="">@item.vmUserAcc.FirstName</td>
                            <td id="SocialSecurityNo" style="">@item.vmPatientTable.SocialSecurityNo</td>
                            <td id="Name" style="">@item.vmPatientTable.Name</td>
                            <td id="AddressLineOne" style="">@item.vmPatientTable.AddressLineOne</td>
                            <td id="City" style="">@item.vmPatientTable.City</td>
                            <td id="County" style="">@item.vmPatientTable.County</td>
                            <td id="Gname" style="">@item.vmGuardian.Name</td>
                            <td id="PhoneNo" style="">@item.vmGuardian.PhoneNo</td>
                            <td id="SchoolName" style="">@item.vmSchools.SchoolName</td>
                            <td id="OpenDate" style="">@item.vmPatientTable.OpenDate.ToString("dd/MM/yyyy")</td>
                            <td id="Eye">@item.vmPatientTable.CloseDate.ToString()</td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No records found.</p>
            }
        </div>@*Row*@
        <hr />

        <div class="w3-container  w3-cell w3-cell-middle" style="background-color:white; padding-bottom:15px">
            @foreach (var item in Model)
            {
                <div id="LinksContainer" class="w3-container  w3-cell w3-cell-middle" style="float:right; color:#2196F3;">
                   <span onclick="backToHome('@item.vmPatientTable.PpsNo')"><i id="DetailsI" style="" class="glyphicon glyphicon-home"></i>&nbsp;Home</span>

                    <span onclick="backToTasks('@item.vmPatientTable.PpsNo')"><i id="DetailsI" style="margin-left:10px;padding-left:25px; cursor:pointer" class="glyphicon glyphicon-backward"></i> &nbsp;Back to Patient List</span>

                    <span onclick="viewNotes('@item.vmPatientTable.PpsNo')"><i id="DetailsI" style="margin-left:10px; cursor:pointer" class="glyphicon glyphicon-info-sign"></i></span>&nbsp;View Notes

                    <span onclick="addNote('@item.vmPatientTable.PpsNo')"><i id="DetailsI" style="margin-left:10px;cursor:pointer;" class="glyphicon glyphicon-tasks"></i>&nbsp;Add Note</span>

                    <span onclick="addTask('@item.vmPatientTable.PpsNo')"><i id="DetailsI" style="margin-left:10px; cursor:pointer" class="glyphicon glyphicon-paperclip"></i>&nbsp;Add Task</span>

                    <span onclick="reassignPatient('@item.vmPatientTable.PpsNo')"><i id="DetailsI" style="margin-left:10px; cursor:pointer" class="glyphicon glyphicon-share"></i>&nbsp;Reassign Patient</span>
                </div>
            }
        </div>
        <div id="Error"></div>
        <div id="AddNoteDetail"></div> @*AddNote*@
        <div id="ReassignPatientDetail"></div>@*ReassignPatient*@
        <div id="NoteDetail"></div> @*View Notes*@
        <div id="TaskDetail"></div> @*Add Task*@
        </div>@*Container*@

        @section scripts
{
            <script>
                /**********view Patient Notes**********/
                function viewNotes(patientId) {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("PatientNotes")',
                        data: { id: patientId },
                        success: function (data) {
                            $('#NoteDetail').hide();
                            $('#AddNoteDetail').hide();
                            $('#Detail1').hide();
                            $('#TaskDetail').hide();
                            $('#ReassignPatientDetail').hide();
                            $('#NoteDetail').html(data);
                            $('#NoteDetail').fadeIn("slow");
                        },
                        error: function (data) {
                            $('#NoteDetail').html('<h3>Error in retrieval</h3>');
                        }
                    });
                }
                /**********Add A Note**********/
                function addNote(patientId) {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("AddNote")',
                        data: { id: patientId },
                        success: function (data) {
                            $('#NoteDetail').hide();
                            $('#Detail1').hide();
                            $('#ReassignPatientDetail').hide();
                            $('#TaskDetail').hide();
                            $('#AddNoteDetail').html(data);
                            $('#AddNoteDetail').fadeIn("slow");
                        },
                        error: function (data) {
                            $('#AddNoteDetail').fadeIn("slow");
                            $('#AddNoteDetail').html('<h3>Error in retrieval of Details (Add note)</h3>');
                        }
                    });
                }
                /**********Add A Task**********/
                function addTask(patientId) {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("AddTask")',
                        data: { id: patientId },
                        success: function (data) {
                            $('#NoteDetail').hide();
                            $('#Detail1').hide();
                            $('#AddNoteDetail').hide();
                            $('#ReassignPatientDetail').hide();
                            $('#TaskDetail').hide();
                            $('#TaskDetail').html(data);
                            $('#TaskDetail').fadeIn("slow");
                        },
                        error: function (data) {
                            $('#TaskDetail').fadeIn("slow");
                            $('#TaskDetail').html('<h3>Error in retrieval of Details (Add Task)</h3>');
                        }
                    });
                }
                /*********Back To Home**************/
                function backToHome(patientId) {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("Welcome")',
                        data: { id: patientId },
                        success: function (data) {
                            window.location = '/Home/Welcome';
                        },
                        error: function (data) {
                            $('#Error').fadeIn("slow");
                            $('#Error').html('<h3>Error in retrieval of Details (backToTasks)</h3>');
                        }
                    });
                }
                /*********Back To Patients**************/
                function backToTasks(patientId) {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("ViewAllPatients")',
                        data: { id: patientId },
                        success: function (data) {
                            window.location = '/Home/ViewAllPatients';
                        },
                        error: function (data) {
                            $('#Error').fadeIn("slow");
                            $('#Error').html('<h3>Error in retrieval of Details (backToTasks)</h3>');
                        }
                    });
                }
                /**********Reassign Patient**********/
                function reassignPatient(patientId) {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("ReassignPatient")',
                        data: { id: patientId },
                        success: function (data) {
                            $('#NoteDetail').hide();
                            $('#AddNoteDetail').hide();
                            $('#TaskDetail').hide();
                            $('#Detail1').hide();
                            $('#ReassignPatientDetail').html(data);
                            $('#ReassignPatientDetail').fadeIn("slow");
                        },
                        error: function (data) {
                            alert("Error ");
                            $('#ReassignPatientDetail').fadeIn("slow");
                            $('#ReassignPatientDetail').html('<h3>Error in retrieval of Details(Reassing Patient) </h3>');
                        }
                    });
                }
            </script>
        }
