@model ICollection<AzureTestApp.Model.PatientDetailsViewModel>
<div class="w3-container">
    <h2 class="glyphicon glyphicon-user" style="color:#2196F3; margin-bottom:15px"><span>&nbsp;All Patients</span></h2>
</div>
<div id="AllPatientsRow" class="w3-cell-row" style="height:50px;">
    <div class="w3-container w3-blue w3-cell w3-cell-middle" id="ViewAllPatients" >
        Assigned To
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" id="ViewAllPatients">
        Social Security
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" id="ViewAllPatients">
        Student Name
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" id="ViewAllPatients">
        Address Line1
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" id="ViewAllPatients">
        City
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" id="ViewAllPatients">
        County
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" id="ViewAllPatients">
        Guardian Name
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" id="ViewAllPatients">
        Phone
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" id="ViewAllPatients">
        School Name
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" id="ViewAllPatients" style="width:100px !important">
        Open Date
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" id="ViewAllPatients">
        View
    </div>
</div>
<div class="panel-body" style="height:398px">
    <div class="right-inner-addon" style="width:105px;">
        @if (Model.Any())
        {
            <table class="table table-condensed table-hover table-striped" style="width:1122px">
                @foreach (var item in Model)
                {
                    <tr style="height:50px !important">
                        <td id="StudentFirstName" style="">@item.vmUserAcc.FirstName</td>
                        <td id="SocialSecurityNo" style="">@item.vmPatientTable.SocialSecurityNo</td>
                        <td id="Name" style="">@item.vmPatientTable.Name</td>
                        <td id="AddressLineOne" style="">@item.vmPatientTable.AddressLineOne</td>
                        <td id="City" style="">@item.vmPatientTable.City</td>
                        <td id="County" style="">@item.vmPatientTable.County</td>
                        <td id="Gname"style="">@item.vmGuardian.Name</td>
                        <td id="PhoneNo" style="">@item.vmGuardian.PhoneNo</td>
                        <td id="SchoolName"style="">@item.vmSchools.SchoolName</td>
                        <td id="OpenDate" style="">@item.vmPatientTable.OpenDate.ToString("dd/MM/yyyy")</td>
                        <td id="Eye">
                                <span onclick="showPatient('@item.vmPatientTable.PpsNo')"><i style="color:#2196F3" class="glyphicon glyphicon-eye-open"></i></span>
                        </td>
                        <td>@item.vmPatientTable.CloseDate.ToString()</td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No records found.</p>
        }
    </div>
</div>
@*<div id="Detail2"></div>
<div id="Detail3"></div>
<div id="Detail"></div>*@

@section scripts
{
    <script>
        function showPatient(patientId) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Details")',
                data: { id: patientId },
                success: function (data) {
                    window.location = '/Home/Details/' + patientId;
                },
                error: function (data) {
                    $('#Detail').html('<h3>Error in retrieval</h3>');
                }
            });
        }
    </script>
}
