@model AzureTestApp.Model.PatientDetailsViewModel

@ViewBag.id
<div id="AddATask" class="w3-card-4" style="">
    <header class="w3-container w3-blue">
        <h4>Add a new task &nbsp;<i class="glyphicon glyphicon-paperclip"></i></h4>
    </header>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="w3-container" style="margin:20px; height:325px;width:350px; float:left;">
            <div class="form-group" style="padding:5px 0; margin-bottom:20px; margin-top:10px; width:500px">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.DropDownListFor(model => model.vmTaskTable.TaskId, ViewBag.taskList as SelectList, "--Task Type--", new { @class = "form-control" })
            </div>
            @*<div class="form-group" style="padding:5px 0 ; margin-bottom:20px; margin-top:10px; width:500px">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.DropDownListFor(model => model.vmPatientTable.OccId, ViewBag.OTList as SelectList, "--OT Name--", new { @class = "form-control" })
            </div>*@
            <div class="form-group" style="padding:5px 0; margin-bottom:20px; margin-top:20px;width:500px">
                <input asp-for="@Model.vmTaskTable.DueDate" placeholder="Due Date" class="form-control" style="width:500px !important" />
                <span asp-validation-for="@Model.vmNoteTable.NoteTitle" class="text-danger"></span>
            </div>
            @*<div class="form-group" style="padding:5px 0 ; margin-bottom:20px; margin-top:10px">
                <textarea asp-for="@Model.vmNoteTable.Details" style="height:100px;width:500px" placeholder="Short Description" class="form-control"></textarea>
                <span asp-validation-for="@Model.vmNoteTable.Details" class="text-danger"></span>
            </div>*@
        </div>


        <div class="w3-container" style="margin:20px; height:325px;width:350px; float:left;">
            @*<div class="form-group" style="padding:5px 0; margin-bottom:20px; margin-top:10px; width:500px">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.DropDownListFor(model => model.vmTaskTable.TaskId, ViewBag.taskList as SelectList, "--Task Type--", new { @class = "form-control" })
            </div>*@
            <div class="form-group" style="padding:5px 0 ; margin-bottom:20px; margin-top:10px; width:500px">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.DropDownListFor(model => model.vmPatientTable.OccId, ViewBag.OTList as SelectList, "--OT Name--", new { @class = "form-control" })
            </div>
            @*<div class="form-group" style="padding:5px 0; margin-bottom:20px; margin-top:20px;width:500px">
                <input asp-for="@Model.vmTaskTable.DueDate" placeholder="Due Date" class="form-control" style="width:500px !important" />
                <span asp-validation-for="@Model.vmNoteTable.NoteTitle" class="text-danger"></span>
            </div>*@

            <div class="form-group" style="padding:5px 0 ; margin-bottom:10px; margin-top:10px">
                <textarea asp-for="@Model.vmNoteTable.Details" style="height:100px;width:500px" placeholder="Short Description" class="form-control"></textarea>
                <span asp-validation-for="@Model.vmNoteTable.Details" class="text-danger"></span>
            </div>
            <div class="w3-container" style="margin:20px;height:325px;width:100px;float:left ">
                <div class="form-group" style="padding:5px 0;margin-bottom:0px; margin-top:0px"><input type="submit" class="btn btn-sm btn-primary btn-signin" style="margin-left:10px; float:right" value="Add" /></div>
            </div>
        </div>
    }
</div>