@model ICollection<AzureTestApp.Model.MyViewModel>

<div id="TaskHeading" class="panel-heading"><strong><i>Patient_Name Task_type Duedate Completed Details</i> </strong></div>
<div class="panel-body" style="height:auto">
    <div class="right-inner-addon" style="width:170px;">
        @if (ViewBag.Flag1 != "False")
        {
            @if (Model.Any())
            {
                <table class="table table-condensed table-hover">
                    @foreach (var item in Model)
                    {
                        @if (@item.vmTPOT.DueDate.Value.ToString("dd/MM/yyyy") == @ViewBag.TodaysDate.ToString("dd/MM/yyyy"))
                        {
                            <tr>
                                <td style="min-width:125px !important">@item.vmPatientTable.Name</td>
                                <td style="min-width:125px !important">@item.vmTaskTable.TaskType</td>

                                <td style="min-width:125px !important">@item.vmTPOT.DueDate.Value.ToString("dd/MM/yyyy")</td>

                                @if (@item.vmTPOT.Completed.ToString() == "False")
                            {
                                    <td style="color:red; min-width:105px !important; padding-left:0px">No</td>
                                }
                                else
                                {
                                    <td style="color:green;min-width:105px !important; padding-left:0px">Yes</td>
                                }
                                <td style="min-width:50px; padding-left:0px">@Html.ActionLink(" ", "TaskDetails", new { id = item.vmPatientTable.PpsNo, id2 = item.vmTaskTable.TaskId, duedate = item.vmTPOT.DueDate }, new { @class = "btn btn-info btn-xs glyphicon glyphicon-info-sign" })</td>
                            </tr>
                        }
                        else
                        {
                            

                        }
                    }@*end foreach*@
                </table>
            }@*end if(any)*@
            else
            {
                <p>No records found. </p>
            }
        }
        else
        {
            <p>No tasks found. </p>
        }
    </div>
</div>